@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-6">
        <h2>@ViewBag.Title</h2>

        <hr />

        @Html.ActionLink("Create Role", "Create", "Roles", new { @class = "btn btn-primary"})
        <br /><br />

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Roles</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
